{% extends "dashboard_base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="row">
    <div class="col text-white">
        <h1>About Watch Commander</h1>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <h2>The Inception</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui o!cia deserun</p>
    </div>
    <div class="col">
        <!-- Image goes here -->
        <p>Image</p>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <h1>The Developers</h1>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <!-- Image goes here -->
        <p>Image</p>
    </div>
    <div class="col">
        <h2>Developer 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui o!cia deserun</p>
    </div>
</div>

{% endblock %}