{% extends "dashboard_base.html" %}
{% block title %}Contact the Devs{% endblock %}
{% block content %}
<div class="container">
    <div class="row text-white">
        <div class="col">
            <h1>Contact the DevTeam</h1>
            <p>For any questions, or feature implementation, fill out the form below..</p>
        </div>
    </div>
    <div class="row text-white">
        <div class="col">
            <h1>Choose a topic and enter your message below</h1>
            <form action="/contact/submit" method="post">
                <div class="row">
                    <div class="col">
                        <label for="topic">Topic</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Choose a topic</option>
                            <option value="1">Feature Request</option>
                            <option value="2">Report a Bug</option>
                            <option value="3">Account Issue</option>
                            <option value="4">Site Data Incorrect</option>
                            <option value="5">Other</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}