{% extends "dashboard_base.html" %} 
{% block title %}Dashboard{% endblock %} 
{%block content %}
  <div class="row">
      <div class="col text-white border m-1 text-center align-items-center">
          <h1>Squad Room</h1>
          <p>Welcome, {{ user.first_name }}! See below for getting started on using Watch Commander</p>
      </div>
  </div>
  <div class="row">
      <div class="col text-white border m-1">
          <h5><a href="/getting_started">Getting Started</a></h5>
          <p>First time using Watch Commander? Get started here!</p>
      </div>
      <div class="col text-white border m-1">
          <h5><a href="/mgl_reference">M.G.L. Reference</a></h5>
          <p>Use the M.G.L. Reference Lookup tool.</p>
      </div>
  </div>
  <div class="row">
      <div class="col text-white border m-1">
          <h5><a href="/role_call_notes">Role Call Notes</a></h5>
          <p>Update Role Call notes to pass onto the shift.</p>
      </div>
      <div class="col text-white border m-1">
          <h5><a href="/dept_info">Department Information</a></h5>
          <p>Look up current information about your department.</p>
      </div>
  </div>
  
  {% endblock %}