{% extends "dashboard_base.html" %} 
{% block title %}Dashboard{% endblock %} 
{%block content %}
  <div class="row">
      <div class="col text-white border m-1 text-center align-items-center">
          <h1>Squad Room</h1>
          <p>Welcome, {{ user.first_name }}! See below for getting started on using Watch Commander</p>
      </div>
  </div>
  <div class="row">
    <div class="col text-white border m-1">
        <h5><a href="/mgl_reference">M.G.L. Reference</a></h5>
        <p>Use the M.G.L. Reference Lookup tool.</p>
    </div>
    <div class="col text-white border m-1">
        <h5><a href="/mental_health_resources">Mental Health Resources</a></h5>
        <p>Pertinent resources to assist in dealing with mental health calls</p>
    </div>
      
  </div>
  <div class="row">
      <div class="col text-white border m-1">
          <h5><a href="/oui_reference">OUI Reference</a></h5>
          <p>Various Resources for OUI Investigations and Reports</p>
      </div>
      <div class="col text-white border m-1">
          <h5><a href="/dv_resources">Domestic Violence Resources</a></h5>
          <p>A list of all current resources for DV</p>
      </div>
  </div>
  
  {% endblock %}