{% extends "dashboard_base.html" %}
{% block title %}Department Information{% endblock %}
{% block content %}
<div class="row text-white">
    <div class="col">
        <h1>Department Information</h1>
    </div>
    <div class="col d-flex justify-content-end">
        <a href="/dashboard" class="btn btn-primary p-3">Back to Squad Room</a>
    </div>
</div>
<div class="row text-white">
    <div class="col border align-items-center text-center">
        <h3>Police Department Name</h3>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <p>Department Logo</p>
    </div>
    <div class="col">
        <div class="row text-white">
            <div class="col">
                <h1>Chief's Message of the Day</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui o!cia deserunt
                    mollit anim id
                    est laborum.</p>
            </div>
        </div>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>Union Update</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui o!cia deserunt
                    mollit anim id
                    est laborum.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>Sector Notes</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui o!cia deserunt
                    mollit anim id
                    est laborum.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}