{% extends "dashboard_base.html" %}
{% block title %}Getting Started{% endblock %}
{% block content %}
<div class="row text-white">
    <div class="col">
        <h2>Getting Started</h2>
        <p>See below for explanations into each page</p>
        <a href="/dashboard" class="btn btn-primary">Back to Squad Room</a>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <h2>M.G.L. Reference</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. </p>
    </div>
    <div class="col">
        <p>image</p>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <p>image</p>
    </div>
    <div class="col">
        <h2>Role Call Notes</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. </p>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <h2>Department Information</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="col">
        <p>image</p>
    </div>
</div>
{% endblock %}