{% extends "dashboard_base.html" %}
{% block title %}M.G.L. Reference{% endblock %}
{% block content %}
<div class="container">
    <div class="row text-white d-flex align-items-center">
        <div class="col">
            <h1>M.G.L. Reference</h1>
        </div>
        <div class="col d-flex justify-content-end">
            <a href="/dashboard" class="btn btn-primary">Back to Squad Room</a>
        </div>
    </div>
    {% set chapters=[
    {"title": "Chapter 90", "description": "Traffic Laws and Citations"},
    {"title": "Chapter 263", "description": "Rights of Persons Accused of Crimes"},
    {"title": "Chapter 263A", "description": "Witness Protection in Criminal Matters"},
    {"title": "Chapter 265", "description": "Crimes Against the Person"},
    {"title": "Chapter 266", "description": "Crimes Against the Property"},
    {"title": "Chapter 267", "description": "Forgery and Crimes Against the Currency"},
    {"title": "Chapter 267A", "description": "Money Laundering"},
    {"title": "Chapter 268", "description": "Crimes Against Public Justice"},
    {"title": "Chapter 268A", "description": "Conduct of Public Officials and Employees"},
    {"title": "Chapter 268B", "description": "Financial Disclosure by Certain..."},
    {"title": "Chapter 269", "description": "Crimes Against Public Peace"},
    {"title": "Chapter 270", "description": "Crimes Against Public Health"},
    {"title": "Chapter 271", "description": "Crimes Against Public Policy"},
    {"title": "Chapter 271A", "description": "Enterprise Crime"},
    {"title": "Chapter 272", "description": "Crimes Against Chastity, Morality..."},
    {"title": "Chapter 273", "description": "Desertion, Support, and Illegitimacy"},
    {"title": "Chapter 273A", "description": "Uniform Reciprocal Enforcement"},
    {"title": "Chapter 274", "description": "Felonies"}
    ] %}

    {% for i in range(0, chapters|length, 3) %}
    <div class="row g-2 text-center text-white">
        {% for j in range(3) %}
        {% if chapters[i + j] %}
        <div class="col border">
            <h4><a class="text-decoration-none" href="/mgl_reference/chapter">{{ chapters[i + j].title }}</a></h4>
            <p>{{ chapters[i + j].description }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}