{% extends "dashboard_base.html" %}
{% block title %}M.G.L. Sections{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col text-white">
      <h1>Chapter</h1>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <a href="/mgl_reference" class="btn btn-primary">Back to All References</a>
      <a href="/dashboard" class="ms-2 btn btn-primary">Back to Squad Room</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Section</th>
            <th scope="col">Title</th>
            <th scope="col">Text</th>
            <th scope="col">Repealable?</th>
            <th scope="col">Mass.Gov Link</th>
            <th scope="col">Last Upated At</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in mgl_reference_chapter %}
          <tr>
            <td>{{ entry.Section }}</td>
            <td>{{ entry.Name }}</td>
            <td>{{ entry.Text }}</td>
            <td>{{ entry.Repealable }}</td>
            <td><a href="{{ entry.Details }}">{{ entry.Details }}</a></td>
            <td>{{ entry.updated_at }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}