{% extends "dashboard_base.html" %}
{% block title %}M.G.L. Reference{% endblock %}
{% block content %}
<div class="row text-white d-flex">
    <div class="col">
        <h1>M.G.L. Reference</h1>
    </div>
    <div class="col d-flex justify-content-end">
        <a href="/dashboard" class="btn btn-primary p-3">Back to Squad Room</a>
    </div>
</div>
<div class="row">
    <div class="col text-white">
        <p>Quick Reference for Mass General Laws</p>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
</div>
<div class="row text-white">
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
    <div class="col">
        <h4>Test</h4>
        <p>Test and Test</p>
    </div>
</div>
{% endblock %}