{% extends "dashboard_base.html" %}
{% block title %}Specifc law lookup{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-white">
            <h1>Put chapter section here</h1>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <a href="/mgl_reference/chapter" class="btn btn-primary">Back to Chapter</a>
            <a href="/dashboard" class="ms-2 btn btn-primary">Back to Squad Room</a>
        </div>
    </div>
    <div class="row text-white">
        <div class="col">
            <div class="border">
                <h1 class="text-center">Description</h1>
                <p>Description text...</p>
            </div>
        </div>
        <div class="col">
            <div class="border">
                <h1 class="text-center">Elements of the crime</h1>
                <p>Elements text...</p>
            </div>
        </div>
    </div>
    <div class="row text-white mt-3">
        <div class="col">
            <div class="border">
                <h1 class="text-center">Charge/Fine</h1>
                <p>Charges/fines text explanation...</p>
            </div>
        </div>
        <div class="col">
            <div class="border">
                <h1 class="text-center">Rights of Arrest</h1>
                <p>Rights of Arrest text...</p>
            </div>
        </div>
    </div>



</div>

{% endblock %}