{% extends "dashboard_base.html" %}
{% block title %}Specifc law lookup{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-white">
            <h1>Put chapter section here</h1>
        </div>
        <div class="col d-flex justify-content-end">
            <a href="/mgl_reference/chapter" class="btn btn-primary p-3">Back to Chapter</a>
            <a href="/dashboard" class="ms-2 btn btn-primary p-3">Back to Squad Room</a>
        </div>
    </div>
    <div class="row text-white border">
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>description</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Elements</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>Charges/fines</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Rights of Arrest</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}